<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.sw.mapper.BalanceDAOImpl">
	<select id="selectAllBalances" resultType="kr.or.sw.model.BalanceVO">
		SELECT *
		FROM BALANCE
		ORDER BY LASTUPDATED DESC
	</select>
<!-- 	<insert id="insertBalances" parameterType="kr.or.sw.model.BalanceVO"> -->
<!-- 		INSERT INTO BALANCE(ACCOUNTID, ASSET, INCOME, EXPENSE, LASTUPDATED) -->
<!-- 		VALUES ('ACCOUNT', #{asset}+#{income}-#{expense}, #{income}, #{expense}, SYSDATE) -->
<!-- 	</insert> -->

</mapper>